* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  background-color: #ffffff;
  display: grid;
  margin: 20px auto;
}


#title {
  text-align: center;
}

#description {
  text-align: center;
}

#tooltip {
  position: absolute;
  background-color: aliceblue;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.legend {
  height: 50px;
  width: 200px;
  position: absolute;
  top: 40px;
  right: 180px;
}